* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
@media (min-width:0px){
.pet {background-color: red;
max-width: 320px;
}
}
@media (min-width:320px){
.pet {background-color: orange;
max-width: 640px;}
}
@media (min-width:640px){
.pet {background-color: yellow;
max-width: 980px;}
}
@media (min-width:980px){
.pet {background-color: pink;
max-width: 1024px;}
}
@media (min-width:1024px){
.pet{background-color: green;
min-width: 1024px;}
}
.rectangle {
	max-height: 338px;
	max-width: 640px;
	width: auto;
	height: auto;
	background-color: #5b0fa1;
	padding-top: 125px;
	padding-bottom: 125px;
	color: #fff;
	font-size: 36px;
	font-size: 31px;
	color: #fff;
	text-align: center;
	font-family: arial, sans-serif;
	text-decoration: none;
}
a {
	text-decoration: none;
}
.bar {
	margin-left:0 !important;
	margin-right:0 !important; 
	padding-left:0 !important;
	padding-right: 0 !important;
}

