* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
@font-face {
	font-family: "quicksand-bold";
	src:url("fonts/quicksand-bold.otf") format("opentype");
	src:url("fonts/quicksand-bold.woff") format("woff");
	src:url("fonts/quicksand-bold.ttf") format("truetype");
	src:url("fonts/quicksand-bold.svg") format("svg");
}
@media (min-width:225px){
	.pet {background-color: red;
	max-width: 320px;
	}
	.crimson {
		padding-bottom: 18px; 
		font-size: 16px; 
	}
}
@media (min-width:320px){
	.pet {
		background-color: orange;
		max-width: 640px;
	}
	.psd-files {
	  max-height: 75px;
	}
	.gray {
		padding-top: 33px;
		font-size: 12px; 
		padding-bottom:35px; 
	}
	.crimson {
		padding-top: 33px;
		padding-bottom: 30px; 
		font-size: 16px; 
	}								
}
@media (min-width:640px){
	.pet {
		background-color: yellow;
		max-width: 980px;
	}
	.psd-files {
		max-height: 150px; 								
	}
	.gray {
		padding-top: 68px;
		font-size: 18px; 
		padding-bottom: 70px; 
	}
	.crimson {
		padding-top: 68px;
		padding-bottom: 64px;
		font-size: 22px; 
	}
}
@media (min-width:980px){
	.pet {
		background-color: pink;
		max-width: 1024px;
	}
	.psd-files {
		max-height: 233px; 
	}
	.gray {
		padding-top: 105px;
		font-size: 28px; 
		padding-bottom: 105px; 
	}
	.crimson {
		padding-top: 105px;
		padding-bottom: 103px; 
		font-size: 30px; 
	}
}
@media (min-width:1024px){
	.pet{
		background-color: green;
		min-width: 1024px;
	}
	.psd-files {
		max-height: 245px; 
	}
	.gray {
		padding-top: 110px;
		font-size: 28px; 
		padding-bottom: 113px; 
	}
	.crimson {
		padding-top: 110px;
		padding-bottom: 108px; 
		font-size: 32px; 
  }
}
.img-range a:hover {
	text-decoration: none;
}
a {
	text-decoration: none;
}
.bar {
	padding-left:0 !important;
	padding-right: 0 !important;
}
.aqua {
	background: #19b4c6; /* Old browsers */
	background: -moz-linear-gradient(top, #19b4c6 39%, #078aa4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(39%,#19b4c6), color-stop(100%,#078aa4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #19b4c6 39%,#078aa4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #19b4c6 39%,#078aa4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #19b4c6 39%,#078aa4 100%); /* IE10+ */
	background: linear-gradient(to bottom, #19b4c6 39%,#078aa4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19b4c6', endColorstr='#078aa4',GradientType=0 ); 
}
.aqua h2 {
	width: 350px;
}
.psd-files {
	padding-bottom: 0px !important;
	margin-bottom: 0 !important;
	
}
.gray {
	color: #9282a0;
	background-color: #27212c;
}
.crimson {
	color: #ffffff;
	text-align: center;
	background-color: #bc3183;
	font-family: "monospace";
	font-weight: bold;
}
.col-xs-3.col-sm-3.col-md-3.col-lg-3.crimson {
	font-family: "monospace";
}
/*.text .img-range .psd-files .aqua .navigation {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}		*/
